#app {
  // 主体区域
  .main-container {
    min-height: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: 100% !important;
    position: relative;
    font-size: 0px;
    z-index: 1001;
    overflow: hidden;
    background-color: #014266;
    top: -5px;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .el-scrollbar__bar.is-horizontal,
    .el-scrollbar__bar.is-vertical{
      display: none;
    }
    a {
      display: inline-block;
      float: left;
      overflow: hidden;
      padding: 0 10px
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      width: 735px !important;
      margin: 0 auto;
    }
  }
  // .hideSidebar {
  //   .sidebar-container {
  //     width: 36px !important;
  //   }
  //   .main-container {
  //     margin-left: 36px;
  //   }
  //   .submenu-title-noDropdown {
  //     padding-left: 10px !important;
  //     position: relative;
  //     .el-tooltip {
  //       padding: 0 10px !important;
  //     }
  //   }
  //   .el-submenu {
  //     overflow: hidden;
  //     &>.el-submenu__title {
  //       padding-left: 10px !important;
  //       .el-submenu__icon-arrow {
  //         display: none;
  //       }
  //     }
  //   }
  //   .el-menu--collapse {
  //     .el-submenu {
  //       &>.el-submenu__title {
  //         &>span {
  //           height: 0;
  //           width: 0;
  //           overflow: hidden;
  //           visibility: hidden;
  //           display: inline-block;
  //         }
  //       }
  //     }
  //   }
  // }
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 240px !important;
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .el-menu-item{
    font-weight: 500;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
  }
  .is-active{
    position: relative;
    color: #fff!important
  }
  .el-menu-item.is-active:before {
      content: '';
      float: left;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      background: #409EFF;
      border-radius: 100%;
  }
  .el-menu--collapse.el-menu .el-submenu {
    max-width: 240px !important;
    float: left;
    padding: 0 10px
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: 240px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-240px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
